.header_container {
  width: 100%;
  height: 400px;
  margin-bottom: 30px;

  & h1 {
    position: absolute;
    margin-top: 190px;
    color: white;
    font-size: 5rem;
    z-index: 99999;
    width: 390px;
    height: 60px;
  }

  & img {
    width: 100%;
    height: 100%;
  }
}